# Variables d'environnement (déjà fournies par défaut dans docker-compose.yml)
POSTGRES_DB=mboastay
POSTGRES_USER=mboastay
POSTGRES_PASSWORD=mboastay
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=1
